@{
    ViewBag.Title = "addItem";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

       <form action="/Admin/saveItem" method="post" enctype="multipart/form-data">
    <label for="cat">Category:</label>
    <select class="form-control" id="Category" name="Category" @*style="width:300px;height:auto"*@>
        <option value="">--Select--</option>
        <option value="Pent">Pent</option>
        <option value="Shirt">Shirt</option>
        <option value="Watches">Watches</option>
        <option value="TShirt">TShirt</option>
        <option value="Shoes">Shoes</option>
      
    </select>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" required="required">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="desc" name="desc" required="required"></textarea>
        @*<input type="date" class="form-control" id="RelaseDate" name="RelaseDate" required="required">*@
    </div>
    <div class="form-group">
        <label for="image">Select Image</label>
        <input type="file" name="file" id="file" required="required" style="width: 100%" />
    </div>
    <button type="submit" class="btn btn-primary">Add item</button>

</form>