
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@model IEnumerable<Project1.Models.Item>*@

<h2>Jeans</h2>
<hr /><br />
@foreach(var x in Model)
{
    <a href="~/Home/Detail/@x.Id"><img src="~/Image/@x.ImageUrl" class="img-thumbnail" style="width:300px; height:300px"></a>

}


    @*<img src="~/Image/Pent1.png" class="img-thumbnail" style="width:300px; height:300px">
    <img src="~/Image/Pent2.jpg" class="img-thumbnail" style="width:300px; height:300px">
    <img src="~/Image/Pent3.jpg" class="img-thumbnail" style="width:300px; height:300px">
    <img src="~/Image/Pent4.jpg" class="img-thumbnail" style="width:300px; height:300px">
    <img src="~/Image/Pent5.jpg" class="img-thumbnail" style="width:300px; height:300px">
    <img src="~/Image/Pent6.jpg" class="img-thumbnail" style="width:300px; height:300px">
    <img src="~/Image/Pent7.jpg" class="img-thumbnail" style="width:300px; height:300px">
    <img src="~/Image/Pent8.jpg" class="img-thumbnail" style="width:300px; height:300px">
    <img src="~/Image/Pent9.jpg" class="img-thumbnail" style="width:300px; height:300px">
    <img src="~/Image/Pent10.jpg" class="img-thumbnail" style="width:300px; height:300px">
    <img src="~/Image/Pent11.jpg" class="img-thumbnail" style="width:300px; height:300px">

    <img src="~/Image/Pent12.jpg" class="img-thumbnail" style="width:300px; height:300px">*@

    @*<div class="col-sm-1">

    </div>
    <div class="col-sm-3">
        <div>
            <img src="~/Image/Pent1.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent2.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent3.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent4.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent5.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent6.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent7.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
    </div>
    <div class="col-sm-1">

    </div>

    <div class="col-sm-3">
        <div>
            <img src="~/Image/Pent8.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent9.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent10.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent11.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent12.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent13.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="~/Image/Pent14.jpg" class="img-circle" alt="Mehtab Rehman" width="250" height="250">
        </div>
        <br>
        <br>
        <br>
    </div>*@
