<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form method="post" action="/Home/Signin">

        <div style="width: 100%; height: 100px; background-color: #33B5E5">
            <p style="color: #ECDBDB; font-size: 22px; font-weight: bold; padding-top: 57px; float: left; padding-left: 55px; ">

                Online Shopping

            </p>
        </div>
        <div class="info">
            <h1>

                Login

            </h1>
        </div>
        <div class="form aniamted bounceIn">
            <div class="login">
                <h2>

                    Login To Your Account

                </h2>
                <input id="username" class="text-box single-line" type="text" value="" name="username"></input>
                <input id="password" class="text-box single-line" type="text" value="" name="password"></input>
                <input type="submit" style="background-color: #33B5E5;"></input>
            </div>
            <div class="register">
                <h2>

                    Create An Account

                </h2>
                <div class="alert">
                    <div class="fa fa-times-circle"></div>


                    There seems to be an issue.
                    …

                </div>
                <input type="text" placeholder="Username"></input>
                <input type="password" placeholder="Password"></input>
                <input type="password" placeholder="Confirm Password"></input>
                <input type="email" placeholder="Email Address"></input>
                <input type="text" placeholder="Birth Date (mm/dd/yy)"></input>
                <button>

                    Login

                </button>
            </div>
            <footer>
                <a href="http://andytran.me">

                    Forgot Password?

                </a>
            </footer>
        </div>

    </form>
</body>
</html>
